       body{
            background: #f7f2e7;
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;

        } 
        #logo{
            float: left;
            height: 100px;
            width: 100px;
            margin-left: 20px;
            border: none;
            
        }
        
        #title{
            text-indent: 20px;
            font-size: 40px;
            margin-bottom: 5px;
            font-family:"Brush Script MT",arial,helvetica;
            display: inline-block;
            color: white;

        }
        .xyz{
            margin-left: 10px;
        }
        #top{
            width: 100%;
            background-color: #550624;
        }
        #log{
            width: 650px;
            text-align: right;
            float: right;
            font-size: 1.1em;
            color: white;
            padding-bottom: 2px;
            text-decoration: none;
            margin-top: -40px;
            margin-bottom: 10px;
            margin-right: 20px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        #log i{
            text-decoration: none;
        }
        header{
            display: inline;
        }
        nav{
            float: right;
            display: initial;
            width: 650px;
            text-align: right;
        }
        nav ul{
            list-style-type: none;
        }
        nav li{
            display: inline-block;
            margin-right: 20px;
            margin-left: 5px;
        }
        nav a{
            font-size: 1.1em;
            color: #181818;
            padding-bottom: 2px;
            text-decoration: none;
        }
        .btn {
  background-color: black; 
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  width: 140px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:hover {
  background-color: #696969;
}


      
.dropbtn {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 16px; 
  font-size: 16px; 
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    z-index: 10;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 2000px;
    height: 21px;
}

.dropdown-content a:hover {background-color: #696969;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}


        @keyframes ban{
            0% {
                opacity:1;
                }
                45% {
                    opacity:1;
                }
                55% {
                    opacity:0;
                }
                100% {
                    opacity:0;
                }
        }
        #bannerimg{
            margin-top: 0px;
            height: 0px;
            border-radius: 2px;
            position: relative;
            box-shadow: 0px 4px 4px #1c1a19;
            margin-bottom: 350px;
            position:relative;
        }
        #bande{
            position:relative;
            height:5px;
            width:100%;
            margin:0 auto;
        }
        #bande img{
            position:absolute;
            left:0;
        }
        .top{
            animation-name: ban;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-duration: 5s;
            animation-direction: alternate;
        }

        #banim{
            border: solid 5px;
            border-color: black;
            border-radius: 10px;
            z-index: 1;
            position: relative;
            height: 250px;
        }
        #banim2{
            border: solid 5px;
            border-color: black;
            border-radius: 10px;
            z-index: 2;
            position: relative;
            height: 250px;
        }
        #banim3{
            border: solid 5px;
            border-color: black;
            border-radius: 10px;
            z-index: 3;
            position: relative;
            height: 250px;
        }
        #banim4{
            border: solid 5px;
            border-color: black;
            border-radius: 10px;
            z-index: 4;
            position: relative;
            height: 250px;
        }
    
        #quote{
            display: inline-block;
            font-weight: bold;
            background-color: #550624;
            color: white;
            font-size: 19px;
            font-family:"Times New Roman",arial,helvetica;
            margin-top: -20px;
            opacity: 80%;
            z-index: 3;
            position: absolute;
            bottom: -300px;
        }
        #head1{
            font-size: 25px;
        }
        article{
            display: inline-block;
            vertical-align: top;
            text-align: justify;
        }
        article{
            width: 800px;
            margin-right: 15px;
            margin-top: -80px;
        }

#back{
    float: right;
}
#back1{
    text-decoration: none;
    color: black;
}

#bot{
    margin-left: 10px;
}
#socmed{
    margin-left: 10px;
}
#find{
    margin-left: 10px;
}
.foot{
    font-size: 17px;
    color:#5c0a29;
    text-align: center;
    font-weight:lighter;
}
.footlink{
    text-decoration: none;
    color:#5c0a29;
    font-weight:lighter;
}
p{
    margin:12px;
}
.fi{
    margin: 7px;
}
a{
    text-decoration: none;
}
